<div class="field is-grouped is-grouped-multiline">

{% for res in entity.dependencies%}
<div class="control">
  <a href="{{site.url}}{{site.baseurl}}/software/{{res.id | downcase}}.html">
	<div class="tags has-addons">
	<!-- Search for the resource's long name -->
	{% for thisRes in site.data.software %}
		<!-- If the resource is present in registry, showi it -->
		{% if thisRes.id == res.id %}
			<!-- If there is a display name, show that, otherwise use ID -->
			{% if thisRes.display%}
			<span class="tag is-info">{{thisRes.display}}</span>
			{% else %}
			<span class="tag is-info">{{res.id}}</span>
			{% endif %}
			<span class="tag is-light">v{{res.version}}</span>
		{% endif %}

	{% endfor %}
	</div>
  </a>
</div>
{% endfor %}

{% for da in entity.data %}
<div class="control">
  <a href="{{site.url}}{{site.baseurl}}/data/{{da.id | downcase}}.html">
	<div class="tags">
		<span class="tag is-danger">{{da.id}}</span>
	</div>
  </a>
</div>
{% endfor %}

</div>


