@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Montserrat');

$family-sans-serif: 'Montserrat', sans-serif;
$primary: #15529E !default;
$info: #3e8ed0 !default;
$link: #485fc7 !default;
$gray: #bbbbbb;
$danger: #f14668;

$tabs-link-active-color: $primary;
$tabs-link-active-border-bottom-color: $primary;

$modal-content-width: 800px;

@import "../node_modules/bulma/sass";
@import "../node_modules/bulma/sass/utilities/mixins";
$hero-darken: $dark !default;

@import "layout";
@import "syntax";
@import "showcase";
@import "block-list";

.gh-sponsor {
  color: #ea4aaa;
}

/*
Cards of data categories
*/

.footer {
	padding-bottom: 48px;
}

.herotitle{
	filter: drop-shadow(2px 2px 3px #000d);
}

/*
Resource tags
*/

.tag.is-info{
	color:#fff;
}

.resourcetag{
	margin-bottom:5px;

}

/*
Cards of data categories
*/

.categdescription{
	font-size: 0.9rem;
	height: 4rem;
}

.card .media:not(:last-child){
	margin-bottom: 1rem;
}

$evo-cardhover: lighten($primary, 62%);

div.card:hover {
	background-color:  $evo-cardhover;
	filter: drop-shadow(0px 0px 5px $evo-cardhover);
}

div.explanation{
	padding-left: 3rem ;
	text-indent: -3rem ;

}

.explainhead{
	font-style: italic;
	font-weight: 800;
	color: $primary;
}

#newshead{
	margin-bottom: 15px;
}

.topicheadimage{
	filter: drop-shadow(2px 2px 2px #333);
	border-radius: 20px;

}

div.box.oneguidebox{
	padding:25px;
	margin-bottom: 15px;
}

div.box.softwarebox{
	margin-bottom: 15px;
}

div.courselist{
	display: none;
	background-color: $evo-cardhover;
	padding:10px 10px 15px 10px;				
	border-radius: 20px;
}

