---
layout: default
---


<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="{{site.url}}{{site.baseurl}}">Evolv-ED</a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/articles/">Articles</a></li>
    <li><a href="{{site.url}}{{site.baseurl}}/articles/guides/">Guides</a></li>
    <li class="is-active"><a href="#" aria-current="page">{{page.title}}</a></li>
  </ul>
</nav>

<br>
<div class="content">
<h1>{{page.title}}</h1>

<p>
{{page.description}}
<p>


<h2>How-to articles</h2>

<h2>Individual Tutorials</h2>

<h2>Courses</h2>

## How-tos

- filter articles to how-tos (should make things faster)
- create a single list of articles that are part of a series
- Filter how-tos to single how-tos
- Loop through single how-tos and display contents


## Tutorials

</p>

</div>

